body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#ecffee, #ced6fb);
}
.card-list .card-item .card-link{
    user-select: none;
    display: block;
    background: #fff;
    padding:18px;
    border: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    transition: 0.2s ease;
}
.card-list .card-item .card-link:active{
    cursor: grabbing;
}
.card-wrapper{
    max-width: 1100px;
    margin:0 60px 35px;
    padding: 20px 10px;
    overflow:hidden;
}
.card-list .card-link .card-image{
    width:90%;
    height: 270px;
    aspect-ratio: 16/2;
    object-fit: cover;
    border-radius: 10px;

}
.card-list .card-link .badge{
    color: #5372f0;
    padding: 8px 16px;
    font-size:0.95rem;
    font-weight: 500;
    margin:16px 0 18px;
    background: #dde4ff;
    width:fit-content;
    border-radius: 50px;
}
.card-list .card-link .card-title{
    font-size: 1.19rem;
    color:#000;
    font-weight: 600;
}

.card-list .card-link .card-button{
    height:35px;
    width: 35px;
    color:#5372f0;
    border-radius: 50px;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border:2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}
.card-list .card-link:hover .card-button{
    color:#fff;
    background: #5372f0;
}
.card-wrapper .swiper-pagination-bullet{
    height:13px;
    width: 13px;
    opacity: 0.5;
    background: #5372f0;
}
.card-wrapper .swiper-pagination-bullet-active{
    opacity: 1;
}
.card-wrapper .swipper-slide-button{
    color:#5372f0;
    margin-top:-35px;
}
@media screen and (max-width: 768px){
    .card-wrapper{
        margin:0 10px 20px;
    }
    .card-wrapper .swipper-slide-button{
        display: none;
    }
    
}